<div class="container">
    <h4 class="header-title"> Give Feeback </h4>
    <form id="frmBooking">
        <div class="row">
            <input type="hidden" id="hdnFeedbackId" value="@ViewBag.FeedbackId" />
            <div class="form-group">
                <label for="deliveryDate">Rating</label>
                <input type="date" class="form-control rounded-0 rounded-0" id="deliveryDate">
            </div>
        </div>
        <div class="row">
        <div class="form-group">
            <label for="getfeedback">Give Feedback</label>
            <textarea type="checkbox" class="form-check-input" id="getfeedback"></textarea>
        </div>
        <div class="form-footer">
            <button type="button" onclick="SaveOrUpdateBooking()">Submit</button>
        </div>
        </div>
    </form>
</div>
