<div class="card-body">
    <h4 class="header-title">Progress Table</h4>
    <div class="single-table">
        <div class="table-responsive">
            <table class ="table table-bordered">
                <thead class="text-uppercase">
                    <tr>

                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Model</th>
                        <th scope="col">CustomerName</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                   
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

