<div class="col-md-12">
    <a href="AddFeedback" class="mb-1 btn vimeo" style="float:right">Add Booking</a>
</div>

<div class="card-body">
    <h4 class="header-title">FeedBack Details</h4>
        <div id="tblFeedback" class="single-table">
        <div class="table-responsive">
            <table class ="table table-bordered">
                <thead class="text-uppercase">
                    <tr>
                        <th class="text-center">Action</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Model</th>
                        <th scope="col">CustomerName</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/plugins/simplebar/simplebar.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

<script src="~/assets/plugins/apexcharts/apexcharts.js"></script>

<script src="~/assets/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>

<script src="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>

<script src="~/assets/plugins/daterangepicker/moment.min.js"></script>
<script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>

<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script src="~/assets/js/vbs/feedback.js"></script>
<script>
    $(document).ready(function () {
        
        GetFeedbackDetails();
    });

</script>


