<div class="form-footer">
    <button class="mb-1 btn vimeo" asp-controller="Feedback" asp-action="AddFeedback">Add Customer</button>
</div>

<div class="card-body">
    <h4 class="header-title">FeedBack Details</h4>
        <div id="tblFeedback" class="single-table">
        <div class="table-responsive">
            <table class ="table table-bordered">
                <thead class="text-uppercase">
                    <tr>
                        <th scope="col">S.NO</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Model</th>
                        <th scope="col">CustomerName</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/assets/js/vbs/feedback.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        GetFeedbackDetails();
    });

</script>


