<div class="card-body">
    <div class="header-title">Order classes</div>
    <div class="row">
        <div class="col-sm-4">
            <div class="grid-col">
                First, but unordered
            </div>
        </div>
        <div class="col-sm-4 order-12">
            <div class="grid-col">
                Second, but last
            </div>
        </div>
        <div class="col-sm-4 order-1">
            <div class="grid-col">
                Third, but first
            </div>
        </div>
    </div>
</div>
