<div class="container">
    <h4 class="header-title">Customer Information</h4>
    <br />
    <br />

    <form id="frmCustomer">
        <input type="hidden" id="hdnCustomerId" value="@ViewBag.CustomerId"/>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="Name" placeholder="Enter your Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" name="Email" placeholder="Enter your Email">
                    <span class="mt-2 d-block">We'll never share your email with anyone else.</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phoneNo">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNo" name="PhoneNo" placeholder="Phone Number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea type="text" class="form-control" id="address" name="Address" placeholder="Address"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="image">Example file input</label>
                    <input type="file" class="form-control" id="image" name="Image">
                </div>
            </div>
        </div>

     
        <div class="row">
            <div class="col-md-12">
                <div class="form-footer">
                    <button type="submit" class="mb-1 btn btn-success" onclick="AddOrUpdateCustomer()">Save</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/assets/js/vbs/customer.js"></script>

<script>
    $(document).ready(function () {

        if (@ViewBag.CustomerId> 0) {
            AddOrUpdateCustomer(@ViewBag.CustomerId);
        }
    });

    $('#frmCustomer').validate({
        errorElement: 'span',
        errorClass: 'help-block help-block-error',
        onkeyup: function (element) {

            $(element).valid();
        },
        focusInvalid: true,
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        success: function (label) {
            label.addClass('valid').closest('.form-group').removeClass('has-error');
        },
        rules: {
            Name: {
                required: true
            },
            Email: {
                required: true
            },
            PhoneNo: {
                required: true
            },
            Address: {
                required: true
            },
            Image: {
                required: true
            },
             messages: {
                Name: "Please enter your name",

                Email: {
                    required: "Please enter your email address",
                    email: "Please enter a valid email address"
                },
                phoneNo: {
                    required: "Please enter your phone number",
                    number: "Please enter a valid phone number"
                },

                Address: "Please enter your address",

                Image: {
                    required: "Please upload an image",
                    accept: "Please upload a valid image file"
                }
        }
    });

</script>






