<div class="container">
    <h4 class="header-title">Customer Information</h4>
    <br />
    <br />

    <form id="frmCustomer">
        <input type="hidden" id="hdnCustomerId" value="@ViewBag.CustomerId"/>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="Name" placeholder="Enter your Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" name="Email" placeholder="Enter your Email">
                    <span class="mt-2 d-block">We'll never share your email with anyone else.</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phoneNo">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNo" name="PhoneNo" placeholder="Phone Number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea type="text" class="form-control" id="address" name="Address" placeholder="Address"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="image">Example file input</label>
                    <input type="file" class="form-control" id="image" name="Image">
                </div>
            </div>
        </div>

     
        <div class="row">
            <div class="col-md-12">
                <div class="form-footer">
                    <button type="button" class="mb-1 btn btn-success" onclick="AddOrUpdateCustomer()">Save</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/assets/js/vbs/customer.js"></script>

<script>
    $(document).ready(function () {

        if (@ViewBag.CustomerId> 0) {
            GetCustomerDetailsById(@ViewBag.CustomerId);
        }
    });

</script>






