<table class="table table-bordered">
    <thead>
        <tr>
      
            <th scope="col">Customer Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone No</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
</table>

<script src="~/assets/js/custom.js"></script>
<script>
 
    $(document).ready(function () {
        debugger;
        GetCustomerDetails();
    });

</script>
