<div class="card-body">
    <h4 class="header-title">Vehicle Information</h4>
    <form>
        <input type="hidden" id="hdnVehicleId" value="@ViewBag.VehicleId" />
    <div><label for="carMakeDropdown" class="col-form-label" id="errmsg"></label></div>
    <!-- Make -->
    <div class="form-group">
        <label for="carMakeDropdown" class="col-form-label">Car Make</label>
        <select class="form-control" id="carMakeDropdown">
            <option value="toyota">Select</option>
            <option value="toyota">Toyota</option>
          </select>
    </div>


    <!-- Model -->
    <div class="form-group">
        <label for="carModel" class="col-form-label">Car Model</label>
        <select class="form-control" id="carModel">
            <option value="camry">Select</option>
            <option value="camry">Camry</option>
            <option value="corolla">Corolla</option>
            <option value="rav4">RAV4</option>
            <option value="highlander">Highlander</option>
            <option value="sienna">Sienna</option>
            <option value="tacoma">Tacoma</option>
            <option value="tundra">Tundra</option>
            <option value="4runner">4Runner</option>
            <option value="prius">Prius</option>
            <!-- Add more Toyota models as needed -->
        </select>
    </div>

    <!-- Year -->
    <div class="form-group">
        <label for="year" class="col-form-label">Year</label>
        <input class="form-control" type="number" id="year">
    </div>

    <!-- Price -->
    <div class="form-group">
        <label for="price" class="col-form-label">Price</label>
        <input class="form-control" type="number" id="price">
    </div>

    <!-- Mileage -->
    <div class="form-group">
        <label for="mileage" class="col-form-label">Mileage</label>
        <input class="form-control" type="number" id="mileage">
    </div>

    <!-- License Plate -->
    <div class="form-group">
        <label for="licensePlate" class="col-form-label">License Plate</label>
        <input class="form-control" type="text" id="licensePlate">
    </div>

    <!-- Colour -->
    <div class="form-group">
        <label for="colour" class="col-form-label">Colour</label>
        <select class="form-control" id="colour">
            <option value="red">Select</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="silver">Silver</option>
        </select>
    </div>

    <!-- VIN -->
    <div class="form-group">
        <label for="vin" class="col-form-label">VIN</label>
        <input class="form-control" type="text" id="vin">
    </div>

    <!-- Engine Type -->
    <div class="form-group">
        <label for="engineType" class="col-form-label">Engine Type</label>
        <input class="form-control" type="text" id="engineType">
    </div>

    <!-- Engine Size -->
    <div class="form-group">
        <label for="engineSize" class="col-form-label">Engine Size</label>
        <input class="form-control" type="number" id="engineSize">
    </div>

   
    <!-- Image e -->
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Image</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    </div>
    <!-- Fuel Type -->
    <div class="form-group">
        <label for="fuelType" class="col-form-label">Fuel Tank </label>
        <input class="form-control" type="number" id="fuelTank">
    </div>

    <!-- Fuel Tank -->
    <div class="form-group">
        <label for="fuelTypeDropdown" class="col-form-label">Fuel Type</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="fuelType" class="custom-control-input" value="petrol">
            <label class="custom-control-label" for="customRadio1">Petrol</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="fuelType" class="custom-control-input" value="diesel">
            <label class="custom-control-label" for="customRadio2">Diesel</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="fuelType" class="custom-control-input" value="electric">
            <label class="custom-control-label" for="customRadio3">Electric</label>
        </div>
    </div>

        <!-- Seating Capacity -->
   
            <label for="seatingCapacity" class="col-form-label">Seating Capacity</label>
            <select class="form-control" id="seatingCapacity">
                <option value="petrol">Select</option>
                <option value="diesel">4</option>
                <option value="electric">6</option>
                <option value="electric">8</option>

            </select>

        <!-- Condition -->
        <div class="form-group">
            <label for="condition" class="col-form-label">Condition</label>
            <input class="form-control" type="text" id="condition">
        </div>

        <!-- Features -->
        <div class="form-group">
            <label for="features" class="col-form-label">Features</label>
            <input class="form-control" type="text" id="features">
        </div>

        <!-- Version Name -->
        <div class="form-group">
            <label for="versionName" class="col-form-label">Version Name</label>
            <input class="form-control" type="text" id="versionName">
        </div>

        <!-- Ex-Showroom Price -->
        <div class="form-group">
            <label for="exShowroomPrice" class="col-form-label">Ex-Showroom Price</label>
            <input class="form-control" type="number" id="exShowroomPrice">
        </div>

        <!-- RTO -->
        <div class="form-group">
            <label for="rto" class="col-form-label">RTO</label>
            <input class="form-control" type="number" id="rto">
        </div>

        <!-- Insurance -->
        <div class="form-group">
            <label for="insurance" class="col-form-label">Insurance</label>
            <input class="form-control" type="number" id="insurance">
        </div>

        <!-- Availability -->
        <div class="form-group">
            <label for="availability" class="col-form-label">Availability</label>
            <input class="form-control" type="text" id="availability">
        </div>

    <div class="form-group">
        <Button onclick="AddVehicleDetails()" type="submit" class="btn btn-primary mt-4 pl-4 pr-4">Submit</Button>
        </div>
        </form>
    </div>

<script>
    $(document).ready(function () {

        if (@ViewBag.VehicleId> 0) {
            GetCustomerDetailsById(@ViewBag.VehicleId);
        }
    });

</script>


