<div class="col-md-12">
    <a href="AddVehicle" class="mb-1 btn vimeo" style="float:right">Add Vehicle</a>
</div>

<div class="col-md-12">
    <a href="AddVehicle" class="mb-1 btn vimeo" style="float:left"> Booking Vehicle</a>
</div>

<div class="card-body">
    <h4 class="header-title"> Vehicle Details</h4>
    <div class="single-table">
        <div class="table-responsive" id="tblVehicle">
           
            <table class="table table-hover progress-table text-center">
                <thead class="text-uppercase">
                    <tr>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Price</th>
                        <th scope="col">Mileage</th>
                        <th scope="col">LicensePlate</th>
                        <th scope="col">Colour</th>
                        <th scope="col">VIN</th>
                        <th scope="col">EngineType</th>
                        <th scope="col">EngineSize</th>
                        <th scope="col">FuelType</th>
                        <th scope="col">FuelTank</th>
                        <th scope="col">SeatingCapacity</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Features</th>
                        <th scope="col">VersionName</th>
                        <th scope="col">ExShowroomPrice</th>
                        <th scope="col">RTO</th>
                        <th scope="col">Insurance</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Action</th>
                      </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/plugins/simplebar/simplebar.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

<script src="~/assets/plugins/apexcharts/apexcharts.js"></script>

<script src="~/assets/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>

<script src="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>

<script src="~/assets/plugins/daterangepicker/moment.min.js"></script>
<script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>

<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script src="~/assets/js/vbs/vehicle.js"></script>

<script>
  
    $(document).ready(function () {
     
        GetVehicleDetails();
    });

</script>