<div class="form-footer">
    <button class="mb-1 btn vimeo" asp-controller="Vehicle" asp-action="AddVehicle">Add Vehicle</button>
</div>

<div class="card-body">
    <h4 class="header-title">Progress Table</h4>
    <div class="single-table">
        <div class="table-responsive" id="tblVehicle">
           
            <table class="table table-hover progress-table text-center">
                <thead class="text-uppercase">
                    <tr>

                        <th scope="col">S.NO</th>
                        <th scope="col">Image</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Price</th>
                        <th scope="col">Mileage</th>
                        <th scope="col">LicensePlate</th>
                        <th scope="col">Colour</th>
                        <th scope="col">VIN</th>
                        <th scope="col">EngineType</th>
                        <th scope="col">EngineSize</th>
                        <th scope="col">FuelType</th>
                        <th scope="col">FuelTank</th>
                        <th scope="col">SeatingCapacity</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Features</th>
                        <th scope="col">VersionName</th>
                        <th scope="col">ExShowroomPrice</th>
                        <th scope="col">RTO</th>
                        <th scope="col">Insurance</th>
                        <th scope="col">Availability</th>
                      </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

<script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<script src="~/assets/js/vbs/vehicle.js"></script>

<script>
  
    $(document).ready(function () {
     
        GetVehicleDetails();
    });

</script>