<div class="main-content-inner">
    <div class="card-area">
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/CAR1.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="title"></h5>

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/CAR 2.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="title"></h5>

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img3.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="title"></h5>

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img4.jpg" alt="image">
                    <div class="card-body">


                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img5.jpg" alt="image">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img6.jpg" alt="image">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img7.jpg" alt="image">
                    <div class="card-body">


                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img8.jpg" alt="image">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="~/assets/images/card/card-img9.jpg" alt="image">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary">go more....</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>