<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/rav4.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota RAV4</h5>
                    <p class="card-text">
                        The Toyota RAV4 is a compact crossover SUV produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 2.5L 4-cylinder</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $25,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3"> View More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/sienna.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota Sienna</h5>
                    <p class="card-text">
                        The Toyota Sienna is a minivan produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 3.5L V6</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $30,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/prius.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota Prius</h5>
                    <p class="card-text">
                        The Toyota Prius is a hybrid electric vehicle produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 1.8L 4-cylinder Hybrid</li>
                        <li class="list-group-item">Transmission: Continuously Variable Transmission (CVT)</li>
                        <li class="list-group-item">Fuel Type: Hybrid</li>
                        <li class="list-group-item">Price: $25,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/highlander.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota Highlander</h5>
                    <p class="card-text">
                        The Toyota Highlander is a midsize crossover SUV produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 3.5L V6</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $35,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="~/assets/images/elements/corolla.jpeg" />
                    <h5 class="card-title">Toyota Corolla</h5>
                    <p class="card-text">
                        The Toyota Corolla is a compact car produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 1.8L 4-cylinder</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $22,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/camry.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota Camry</h5>
                    <p class="card-text">
                        The Toyota Corolla is a compact car produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 1.8L 4-cylinder</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $22,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <img src="~/assets/images/elements/4runner.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Toyota 4Runner</h5>
                    <p class="card-text">
                        The Toyota 4Runner is a mid-size SUV produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 4.0L V6</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: $36,000</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="~/assets/images/elements/16 toyato.jpeg" />
                    <h5 class="card-title">Toyota RAV4</h5>
                    <p class="card-text">
                        The Toyota RAV4 is a compact crossover SUV produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 2.5L 4-cylinder</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: 1.2 lakh</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="~/assets/images/elements/prius.jpeg" />
                    <h5 class="card-title">Toyota Prius</h5>
                    <p class="card-text">
                        The Toyota RAV4 is a compact crossover SUV produced by Toyota.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Engine: 2.5L 4-cylinder</li>
                        <li class="list-group-item">Transmission: Automatic</li>
                        <li class="list-group-item">Fuel Type: Gasoline</li>
                        <li class="list-group-item">Price: 1.2 lakh</li>
                    </ul>
                    <a href="/Vehicle/GirdVehicle" class="btn btn-outline-primary btn-pill mt-3">View More</a>
                </div>
            </div>
        </div>
    </div>

</div>



